body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


main:after {
	content: '';
	min-height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(0,0,10);
background: -moz-linear-gradient(90deg, rgba(0,0,10,0.21) 0%, rgba(0,0,10,0.21) 50%, rgba(0,0,10,0.21) 100%);
background: -webkit-linear-gradient(90deg, rgba(0,0,10,0.21) 0%, rgba(0,0,10,0.21) 50%, rgba(0,0,10,0.21) 100%);
background: linear-gradient(90deg, rgba(0,0,10,0.21) 0%, rgba(0,0,10,0.21) 50%, rgba(0,0,10,0.21) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000a",endColorstr="#00000a",GradientType=1);
z-index: -1;
}


#slider {
	max-height: 1280px;
	z-index: -1;
	position: fixed;
}

#slider img{
	opacity: 0;
	position:fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	z-index: -1;
	transition: opacity 1000ms;
}

#slider img.selected { 
	opacity: 1;
}

.conteudo {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
}

.logo {
	position:fixed;
	top:50px;
	left:600px;	
	max-width: 250px;
	transition: 0.3s ease-in-out;
	}

	.logo:hover{
	transform: scale(1.2);
	}

.descricao {
	position: fixed;
	width: 100%;
	font-size: 100px;
	right: 0px;
	color:#fff;
	text-align:center;
	top: 150px;
	justify-content: center;
	line-height: 100px;
}


.informativo{
	position: fixed;
	width: 50%;
	font-size: 50px;
	color:#fff;
	top: 600px;
	text-align:center;
	right: 500px;
	justify-content: center;
	line-height: 60px;
}


.menu-lateral {
	position: fixed;
	top: 40px;
	right: 14px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.menu-lateral ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.menu-lateral .icone {
	width: 60px;
	transition: 0.3s ease-in-out;
}

.googleplay{

	position:fixed;
	width:200px;
	bottom:80px;
	left:750px;
	transition: 0.3s ease-in-out;
	
	
}
.googleplay:hover {
	transform: scale(1.2);
}

.itunes{
    position:fixed;
	width:200px;
	bottom:80px;
	right:750px;
	transition: 0.3s ease-in-out;
}

.itunes:hover {
	transform: scale(1.2);
}

.menu-lateral .icone:hover {
	transform: scale(1.2);
}

.wattsapp {
	position:fixed;
	width:80px;
	height:80px;
	bottom:30px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:100px;
	text-align:center;
	font-size:30px;
	box-shadow: 1px 1px 2px #888;
    z-index:1000;
	transition: 0.3s ease-in-out;
}

.wattsapp:hover {
	transform: scale(1.2);
}


.pedido {
	position:fixed;
	width:200px;
	bottom:20px;
	left:15px;
	transition: 0.3s ease-in-out;
}
	
.pedido:hover {
	transform: scale(1.2);
}

