@media (max-width: 1280px) {
	body {
		padding: 0 40px;
	}
}

@media (max-width: 768px) {
	.informacoes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.imagem {
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		z-index: -1;
	}
	.logo {
		max-width: 100px;
		margin-top:5px;
		margin-bottom: 5px;
		left: 100px;
	}
	
	.descricao {
		width:100px;
		padding: 0%;
		margin-top: 200px;
		text-align: center;
	}

	.informativo {
		width: 600px;
		padding: 0%;
		margin-top: 2px;
		text-align: center;
	}

	.menu-lateral {
		position: static;
		min-height: auto;
		width: 40%;
		margin-top: 50px;
	}

	.menu-lateral ul {
		flex-direction: flex;
	}
}

@media (max-width: 425px) {

	.informacoes {
		display: flex;
		flex-direction: flex;
		align-items: center;
	}

	 .logo {
		max-width: 200px;
		margin-top:6px;
		margin-bottom: 5px;
		left: 100px;
		
	}
      .descricao {
		width: 70%;
		text-align: center;
	}

	 .informativo {
		width: 70%;
		text-align: center;
	}

	.menu-lateral {
		position: static;
		min-height: auto;
		width: 100%;
		margin-top: 50px;
	}

	.menu-lateral ul {
		flex-direction: flex;
	}

	.conteudo {
		min-height: 70vh;
		gap: 50px;
	}

	body {
		padding: 40px;
	}
}
