@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat:wght@400;700&display=swap&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px; /* altura exata do header fixo */
  box-sizing: border-box;
}

.conteudo-central {
  width: 100vw;
  margin: 0; /* remove margem superior */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  overflow-y: auto;
  min-height: calc(100vh - 70px); /* ocupa toda a altura abaixo do header */
}

.cardapio-iframe {
  width: 100vw;
  height: calc(100vh - 70px); /* ocupa toda a altura abaixo do header */
  min-height: 0;
  border-radius: 0;
  border: none;
  box-shadow: 0 4px 24px #0002;
  background: #fff;
  display: block;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  left: 10px;
  top:-42px;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

#logo-img {
  width: 150px; /* ajuste conforme necessário */
  height: auto;
  display: flex;
}

#menu {
  list-style: none;
  padding: 0;
  left: 0;
  margin: 0 0 0 -2px;
  /* 60px da esquerda, ajuste como quiser */
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}

#menu li {
  display: inline-block;
  justify-content: center;
}

.botaolista {
  display: block;
  padding: 10px 40px;
  color: #222;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.4s, color 0.4s;
}

.botaolista:hover {
  background-color: #e53935;
  color: #fff;
  cursor: pointer;
}

.botaolista.active {
  background-color: #e53935;
  color: #fff;
}




